/* Fondo del área de mensajes */
#background {
    background-color: #EEFFED;
}

/* Texto de los mensajes */
.allMessages .msgBody {
    color: #003400;
}

/* Header superior */
#top_banner {
    background-color: rgba(0, 52, 0, 0.5); /* Verde con transparencia */
    color: #FFFFFF; /* Color del texto en el header */
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

/* Texto de la barra de entrada */
#input {
    background-color: #F5FFF5; /* Fondo ligeramente más claro */
    color: #003400;
    border: 1px solid #A0D6A0; /* Borde para dar un poco de contraste */
    margin-top: -10px; /* Ajuste para mover el área de entrada hacia arriba */
}

/* Estilo para los mensajes enviados */
.sent {
    background-color: #DFF2D9;
    border-radius: 8px;
    padding: 5px;
}

/* Estilo para los mensajes recibidos */
.received {
    background-color: #CFE8C0;
    border-radius: 8px;
    padding: 5px;
}
